{% extends "layout.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    {% if bool is sameas false %}
        <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center"></div>
        <p class = "message">You have no transactions!</p>
    {% endif %}
    <div class="row">
        <div class="col-xs-6">
            {{chart}}
        </div>
        <div class="col-xs-6">
            {{piechart}}
        </div>
    </div>
    <div class = "row">
        <div class="col-xs-6">
            {{table}}
        </div>
        <div class="col-xs-6">
            {{bargraph}}
        </div>
    </div>
    
    {% endblock %}